body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #c5dac1, #7f95d1);
  min-height: 100vh;
}

h2,
p {
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 2rem auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 2px 2px 2px #00000020;
  border-radius: 12px;
  padding: 2rem;
  margin: 2rem 0;
}

.card p {
  margin: 1rem 0;
}

.card a {
  display: inline-block;
  color: #ffffff;
  box-shadow: 0 5px 0 #000000;
  cursor: pointer;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease-out;
  user-select: none;
  text-decoration: none;
  background-color: var(--bg-color);
}

.card a:hover {
  background-color: var(--bg-hover);
}

.card a:active {
  background-color: var(--bg-active);
  box-shadow: none;
  transform: translateY(5px);
}

#link1 {
  --bg-color: #6e2594;
  --bg-hover: #541d73;
  --bg-active: #541d7350;
}

#link2 {
  --bg-color: #55868c;
  --bg-hover: #43666a;
  --bg-active: #43666a50;
}

#link3 {
  --bg-color: #345511;
  --bg-hover: #263d0d;
  --bg-active: #263d0d50;
}

.card img {
  border-radius: 12px;
}
